name: Upload to PROD via SFTP

on:
  workflow_dispatch:  # Permet d'exécuter le workflow manuellement

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: production
      
    steps:  
    - name: Checkout code
      uses: actions/checkout@v2  # Récupère ton dépôt

    - name: Install lftp
      run: sudo apt-get install -y lftp  # Installation de lftp, un outil SFTP/FTP

    - name: Upload files via SFTP
      run: |
        lftp -f "
        set sftp:connect-program 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
        open -u ${{ secrets.PROD_SFTP_USER }},${{ secrets.PROD_SFTP_PASSWORD }} sftp://${{ secrets.PROD_SFTP_HOST }}
        mirror -R --delete ./ /lamp0/web/vhosts/prod-ps-api.gc2.fr/htdocs --exclude .git/ --exclude .htaccess --exclude var/ --exclude .env --exclude config/jwt/ --exclude vendor/ --exclude .github/
        bye
        "
